html {
  font-family: 'Orbitron', monospace, sans-serif;
}
header {
  color: white;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/632/362/original/abstract-geometric-hexagonal-pattern-on-metal-black-background-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 30px 0px;
  height: 100px;
  text-align: center;
  background-position: center;
  background-position: center;
}
.fire-img {
  margin-left: 50px;
}
.about-me {
  display: flex;
  flex-direction: colum;
}
h1 {
  padding-top:20px;
  letter-spacing: 3px;
}
nav {
  font-size: 23px;
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
}
a {
  color: white;
}
a:hover {
  color: lightgray;
}
.martin {
  color: white;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
#duck-logo {
  height: 60px;
  width: 90px;
  margin-left: 10px;
  margin-top: 10px;
}
li {
  display: inline-flex;
  padding: 15px;  
}
section {
  display: inline-flex;
  margin: 20px;
  background: linear-gradient(#fff, #000);
  text-align: center;
  color: white;
  font-size: 20px;
  box-shadow: 5px 5px 5px gray;

  letter-spacing: 1px;
  border-radius: 15px;
}
section:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 8px gray;
}
#article-my-name {
  color: white;
  text-align: center;
  letter-spacing: 1px;
  padding: 70px;
  background-image: url("https://images.pexels.com/photos/14553701/pexels-photo-14553701.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
  background-size:90%;
  background-repeat:no-repeat;
  background-position: center;
}
#article-my-name p {
  color: white;
  letter-spacing: 1px;
  line-height: 0.5;
  font-size: 20px;
  opacity: 1;
}
h2 {
  opacity: 1;
}
#my-projects {
  font-size:large;
  background-color: darkblue;
  color: white;
  padding: 0px;
  margin-top: 30px ;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/632/362/original/abstract-geometric-hexagonal-pattern-on-metal-black-background-free-vector.jpg");
  text-align: center;
  letter-spacing: 2px;
  background-size: cover;
  background-repeat:no-repeat;
}
main {
  text-align: center;
}
img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
}
.my-hobbies {
  color: white;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/632/362/original/abstract-geometric-hexagonal-pattern-on-metal-black-background-free-vector.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
h3 {
  padding: 30px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 420px) {
  ul {
    display: none;
  }
  nav {
    justify-content: center;
  }
  header {
    font-size: 14px;
  }
  #article-my-name {
  background-size: cover;
  }
  #article-my-name p{ 
    letter-spacing: 1.5px;
    line-height: 1.1;
  }
  h1 { 
    font-size: 14px;
  }
}
@media only screen and (min-width: 420px) and (max-width: 550px) {
}
@media only screen and (max-width: 550px) {
img {
  width: 350px;
  height: 200px;
  }  
  nav {
    justify-content: center;
  }
   ul li {
    font-size: 14px;
    text-decoration: none;
  }
  header {
    font-size: 14px;
  }
  #article-my-name {
    background-size: cover;
  }
  #article-my-name p{ 
    letter-spacing: 1.5px;
    line-height: 1.1;
  }
}
@media only screen and (max-width: 750px) {
  img {
    width: 350px;
    height: 200px;
    }  
    nav {
      justify-content: center;
    }
     ul li {
      font-size: 14px;
      text-decoration: none;
    }
    header {
      font-size: 14px;
    }
    #article-my-name {
      background-size: cover;
    }
    #article-my-name p{ 
      letter-spacing: 1.5px;
      line-height: 1.1;
    }
  }
  @media only screen and (max-width: 950px) {
    img {
      width: 350px;
      height: 200px;
      }  
       ul li {
        font-size: 14px;
        text-decoration: none;
      }
      header {
        font-size: 14px;
      }
      #article-my-name {
        background-size: cover;
      }
      #article-my-name p{ 
        letter-spacing: 1.5px;
        line-height: 1.1;
      }
    }
    @media only screen and (max-width: 1250px) {
      img {
        width: 350px;
        height: 200px;
        }  
         ul li {
          font-size: 18px;
          text-decoration: none;
        }
        header {
          font-size: 18px;
        }
        #article-my-name {
          background-size: cover;
        }
        #article-my-name p{ 
          letter-spacing: 1.5px;
          line-height: 1.1;
        }
      }
@media only screen and (max-width: 1000px) {
}
